<!DOCTYPE html>
<html>
  <head>
    <title>RailsGachatto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <!-- ナビゲーションバーなどのヘッダー部分 -->
    <header>
      <br>
      <nav>
        <% if user_signed_in? %>
          <%= link_to 'ホーム', root_path %>
          <%= link_to '投稿一覧', posts_path %>
          <%= link_to '新規投稿', new_post_with_type_path(type: 'Illustration') %>
          <%= link_to '通知', notifications_path %>
          <% if current_user.unchecked_notifications.any? %>
            <span class="badge"><%= current_user.unchecked_notifications.count %></span>
          <% end %>
          <%= link_to 'マイページ', user_profile_path(current_user) %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'ホーム', root_path %>
          <%= link_to '投稿一覧', posts_path %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to 'サインアップ', new_user_registration_path %>
        <% end %>
      </nav>
    </header>

    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>"><%= message %></div>
    <% end %>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
